.reviews {
    width: auto;
    padding-bottom: 70px;
    &__review{
        margin-top: 70px;
        display: flex;
        img{
            display: block;
            width: 175px;
            height: 175px;
            margin: 15px 60px 67px 0;
            border-radius: 84.5px;
            background-color: #0d0d0d;
        }
    }
    &__text {
        flex-direction: column;
    }
    &__title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        color: #0d0d0d;
    }
    &__subtitle {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #646464;
    }
    &__desc {
        width: 650px;
        margin-top: 20px;
        display: block;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        color: #0d0d0d;
    }
    &__span {
        margin-top: 8px;
        }
}

@media screen and (max-width: 767px) {
    .reviews__review {
        flex-direction: column; /* Зміна напрямку для мобільних */
        margin-top: 20px; /* Зменшення відступу для мобільних */
    }

    .reviews__text {
        text-align: center; /* Центрування тексту для мобільних */
    }

    .reviews__desc {
        width: 100%; /* Розширення опису на весь екран для мобільних */
    }

    .reviews__title,
    .reviews__subtitle {
        text-align: center; /* Центрування заголовків для мобільних */
    }

    .reviews__span {
        margin-top: 8px; /* Збільшення відступу для мобільних */
    }

    .reviews__review img {
        margin: 15px auto 20px; /* Центрування та зміна маржі для мобільних */
    }
}